{% extends "base.html" %}
{% block title %} 
    BoingBoing Shop 
    
{% endblock %}

{% block content %} 
    {% if user.is_authenticated %}
        <h4 class="text-center my-4"> Welcome <span class="text-danger mx-2"> {{user.username.upper}} </span> To My Calculator!!! </h4>
    {% else %}
        <h4 class="text-center my-4"> Welcome To My Calculator!!! </h4>
    {% endif %}
    <marquee behavior="" direction="right" scrollamount="20"> Ber jol jit comment tha okay mor </marquee>
    
    <h5 class="mx-5 phone text-center text-black-50"> Boing Boing's Calculator </h5>
    <div class="container calculator">
        <div class="display">
            <form action="">
                <input type="text" name="display" placeholder="Enter Your Number" class="display-button">
                <div>
                    <input type="button" value="AC" onclick="display.value = '' ">
                    <input type="button" value="DEL" onclick="display.value = display.value.toString().slice(0,-1) ">
                    <input type="button" value="%" onclick="display.value += '%' ">
                    <input type="button" value="/" onclick="display.value += '/' ">
                </div>
                <div>
                    <input type="button" value="7" onclick="display.value += '7' " >
                    <input type="button" value="8" onclick="display.value += '8' ">
                    <input type="button" value="9" onclick="display.value += '9' ">
                    <input type="button" value="*" onclick="display.value += '*' ">
                </div>
                <div>
                    <input type="button" value="4" onclick="display.value += '4' ">
                    <input type="button" value="5" onclick="display.value += '5' ">
                    <input type="button" value="6" onclick="display.value += '6' ">
                    <input type="button" value="-" onclick="display.value += '-' ">
                </div>
                <div>
                    <input type="button" value="1" onclick="display.value += '1' ">
                    <input type="button" value="2" onclick="display.value += '2' ">
                    <input type="button" value="3" onclick="display.value += '3' ">
                    <input type="button" value="+" onclick="display.value += '+' ">
                </div>
                <div>
                    <input type="button" value="0" onclick="display.value += '0' ">
                    <input type="button" value="00" onclick="display.value += '00' ">
                    <input type="button" value="." onclick="display.value += '.' ">
                    <input type="button" value="=" onclick="display.value = eval(display.value)">
                </div>
            </form>
        </div>
    </div>
             
    {% if user.is_authenticated %}
        <button class="button-85 bg-gradient my-3 w-100" type="submit"> <a href="/logout" > Log Out Account </a> </button>
    {% else %}
        <button class="button-85 bg-gradient my-3 w-100" type="submit"> <a href="/signup" > Register Account </a> </button>
        <button class="button-85 bg-gradient my-3 w-100" type="submit"> <a href="/signin" > Log In Account </a> </button>
    {% endif %}
            
{% endblock %}
